* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.header {
  max-width: 100%;
  height: 300px;
}
.header__nav {
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10em 3em 10em;
}
.header__nav_list {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.header__nav_list_item_link {
  font-size: 0.8rem;
  opacity: 0.7;
  color: black;
}
.header__nav_list_item_enter {
  color: #23A6F0;
  background-color: white;
  padding: 10px 15px;
  border: none;
  font-size: 0.7rem;
  opacity: 0.7;
}
.header__nav_list_item_entercolor {
  border: none;
  color: white;
  background-color: #23A6F0;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 0.7rem;
  opacity: 0.7;
}
.header__container {
  max-width: 100%;
  height: 160px;
}
.header__container_start {
  max-width: 100%;
  height: 160px;
  text-align: center;
}
.header__container_start_head4 {
  opacity: 0.7;
  margin-bottom: 25px;
}
.header__container_start_head1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.header__container_start_list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
}
.header__container_start_list :first-child {
  font-size: 0.8rem;
}
.header__container_start_list :last-child {
  opacity: 0.7;
  font-size: 0.8rem;
}
.header__container_start_list_item_photo {
  height: 12px;
}

.main {
  max-width: 100%;
  height: 1700px;
}
.main__enter {
  max-width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}
.main__enter_left_photo {
  width: 600px;
  height: 350px;
}
.main__enter_right {
  width: 700px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.main__enter_right_photo {
  width: 300px;
  height: 170px;
  margin-bottom: 12px;
}
.main__enter_right_photo_sekil {
  width: 300px;
  height: 170px;
}
.main__info {
  max-width: 100%;
  height: 950px;
  margin-bottom: 30px;
}
.main__info_div {
  max-width: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 7em;
       column-gap: 7em;
  text-align: center;
  margin-bottom: 40px;
}
.main__info_div_list {
  margin-bottom: 25px;
}
.main__info_div_list_item {
  margin-bottom: 5px;
}
.main__info_div_list_item_photo {
  height: 150px;
  width: 250px;
}
.main__info_div_list_item_text {
  font-size: 0.7rem;
  opacity: 0.7;
}
.main__info_div_list_item_icon {
  height: 14px;
  margin-right: 7px;
}
.main__end {
  max-width: 100%;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main__end_div {
  width: 400px;
  height: 100px;
}
.main__end_div_list_item_head {
  font-size: 2rem;
  margin-bottom: 25px;
}
.main__end_div_list_item_text {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-bottom: 20px;
}
.main__end_div_list_item_button {
  border: none;
  border-radius: 5px;
  background-color: #23A6F0;
  padding: 12px 25px;
  color: white;
  margin-bottom: 20px;
}
.main__end_div_list_item_photo {
  height: 18px;
  margin-right: 15px;
}

.footer {
  max-width: 100%;
  height: 400px;
}
.footer__enter {
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12em 2em 12em;
}
.footer__hr {
  max-width: 100%;
  height: 10px;
  margin: 0 12em 3em 12em;
  opacity: 0.4;
}
.footer_main {
  max-width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0 12em 2em 12em;
}
.footer_main_list_item .form {
  margin-bottom: 10px;
}
.footer_main_list_item .form_enter {
  border: none;
  border-radius: 3px;
  font-size: 0.6rem;
  padding: 10px 15px;
  background-color: rgb(252, 244, 244);
}
.footer_main_list_item .form_exit {
  color: white;
  background-color: #28A8F0;
  font-size: 0.6rem;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
}
.footer_main_list_item_span {
  font-size: 0.6rem;
  opacity: 0.7;
}
.footer_main_list_item_head {
  margin-bottom: 15px;
}
.footer_main_list_item_link {
  color: black;
  opacity: 0.8;
  font-size: 0.8rem;
}
.footer_end {
  max-width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.footer_end_list_item_span {
  margin-left: 15em;
  font-size: 0.8rem;
  opacity: 0.8;
}/*# sourceMappingURL=style3.css.map */